@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    to bottom right,
    #0f172a,
    #1e293b,
    #020617
  );
  color: white;
  min-height: 100vh;
}
